body {
        background-color: rgb(217, 231, 233);
    }

    h1 {
        border-style: dashed;
        border-width: 3px;
        border-left-width: 10px;
        border-right-width: 10px;
        border-color: rgb(219, 200, 236);
    }

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#0a8879;
}

h3{
    color:#31afa1;
    
}

h4{
    color:#31afa1;
    
}
#work{
  border:solid 2px;
  border-radius: 10px;
}

#work>td{
  border:solid 0.5px;
  border-radius: 10px;
}
#work-heading{
  text-align:center
}

.other{
  border: 0.5px solid;
  border-radius: 20px;
  
}
.button{
  background-color:#0093AB;
}
